<h1>Listar de Animais Cadastrado</h1>

{{#each animais}}
  ID:
  {{id}}<br />
  Nome:
  {{nome}}<br />
  Espécie:
  {{especie}}<br />
  Raça:
  {{raca}}<br />
  Idade:
  {{idade}}<br />
  Observação:
  {{observacoes}}<br />
  Cadastrado:
  {{#formatDate createdAt}}{{/formatDate}}<br />
  <a href="/del-pagamento/{{id}}"><button>Apagar</button></a>
  <br />
  <a href="/edit-pagamento/{{id}}"><button>Editar</button></a>
  <hr />
{{/each}}